
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">




<div class= "container-fluid">

<h1> 게시물 수정 </h1>
    <br>
<%= render 'form' %>

<%= link_to '원본 게시물 보기', @post %> |
<%= link_to '돌아 가기', posts_path %>



</div>
