<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<div class= "container-fluid">

<h1>새로운 게시물 작성</h1>
<br>
<br>

<table class="table table-condensed">
<thead>
</thead>

      <tbody>
<tr>
<%= render 'form' %>
<br>

<%= link_to '뒤로 가기', posts_path %>
</div>

